.Todolist
{
    text-align:center;
    margin-top:30px;
}

h3{
    font-size:30px;
}

.Todolist button{
    font-size:18px;
    font-weight: 500;
    padding:10px 20px;
    color:#ffffff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn
{
    background-color:green;
    margin-top:10px;
}

.delete
{
    background-color: red;
    padding:8px 12px;
    font-size: 16px;
    margin-left:10px;
}

.moveup, .movedown
{
    background-color: hsl(207,50%,50%);
    padding:8px 12px;
    font-size: 16px;
    margin-left:10px;
}

input[type="text"]
{
    font-size: 18px;
    padding:10px;
    border:2px solid hsl(0,0%,0.5);
    border-radius: 5px;
    color:hsla(0,0%,0%,0.5);
}
.Todolist ol{
    padding:0;
}

.Todolist ol li{
    font-size: 18px;
    padding:15px;
    background-color: hsl(0,0%,80%);
    margin-bottom:10px;
    border:3px solid hsla(0,0%,50%,0.75);
    border-radius:5px;
    display:flex;
    align-items:center;
}

.text
{
  flex:1;
}